<html>
  <head>
    <title>Hannisolo blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django blog!</a>
    </div>

    <div>
        <p>published: 21.04.2017, 08:52</p>
        <h2><a href="">My first post</a></h2>
        <p>Hello my first post in blog. I created blog on Django frameworks in python.</p>
    </div>

    <div>
                <p>published: 21.04.2017, 08:55</p>
                <h2><a href="">My second post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </div>
  </body>
</html>
